body{
    font-family:  Arial, Helvetica, sans-serif;
    margin: 0;
    background:  #f8f9fa;
    color: #333;
}
header{
    background-color: #ff4d4d;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 40px;
    align-items: center;
}
.logo{
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}
nav>ul>li{
    list-style-type: none;
    display: inline;
}
nav>ul>li{
    list-style-type: none;
    display: inline;
}

nav>ul>li>a{
    text-decoration: none;
    color: purple;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}
nav>ul>li>a:hover{
   background-color: blue;
   color: purple;
}
.button {
    background-color: purple;
    color: #ff4d4d;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}
.hero{
    text-align: center;
    padding: 100px 20px;
     background-image: linear-gradient(135deg, #ff6f61, #ffcc33);
     color: white;
}
footer {
    background-color: #ff4d4d;
    color: white;
    text-align: center;
    padding: 10px;
}
.Welcome-text{
    font-size: 2.5em;
    animation: bounce 2s infinite alternate;
}
@keyframes bounce {
    from { transform: translateY(0); }
    to { transform: translateY(-15px); }
}
.content{
 max-width: 900px;  
 margin: auto;
 text-align: center;
 padding: 60px 20px; 
}
.content-1{
 max-width: 900px;  
 margin: auto;
 text-align: left;
 padding: 60px 20px; 
}
.services-list {
    list-style: none;
    padding: 0;
}
.services-list li {
    background: #fff0f0;
    margin: 15px 0;
    padding: 0;
    border-radius: 12px;
}
.products {
    text-align: center;
    padding: 60px 20px;
}
.products h2 {
    color: #ff4d4d;
    font-size: 2em;
    margin-bottom: 10px;
}
.products p {
    color: #555;
    font-size: 1.1em;
}
.product-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}
.product{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 230px;
    transition: transform 0.3s ease;
    box-shadow: #333;
}
.product:hover { transform: scale(1.05); }
.product img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}
.product h3 {
    color: #ff4d4d;
    margin-top: 10px;
}
.product p {
    font-size: 0.9em;
    color: #666;
}